h1, h2  {
  text-align: center;
  color: white;
}

img {
  display: block; /* Makes the image a block-level element */
  margin: 0 auto;
  width: 600px;
  height: auto;
}

h1 {
  background-color: black;
  padding: 20px;
}

li, a {
  background-color: grey;
  color:white;
  padding: 5px;
  margin: 3px;
}
